<h1>Hello Everyone, The Time is <%= Time.now%></h1>
<p>Have a great day</p>
<p> Learning is interesting you know</p>
<!-- <a href="/say/goodbye"> Goodbye</a> -->
<table border = "1">
	<th> Employee </th>
	<tr><td>Max</td></tr>
	<tr><td>annie</td></tr>
	<tr><td>canrines</td></tr>
</table>

<!-- this is by using helpers -->
<p><%= link_to "Goodbye", say_goodbye_path %></p>  
